<div>
	<h2>GDP Heat Map</h2>
</div>

<div style="height: 20px"></div>	

<div>
	<button class="yearButton" value="2000">2000</button>
	<span style="width: 20px"></span>
	<button class="yearButton" value="2001">2001</button>
	<button class="yearButton" value="2002">2002</button>
	<button class="yearButton" value="2003">2003</button>
	<button class="yearButton" value="2004">2004</button>
	<button class="yearButton" value="2005">2005</button>
	<button class="yearButton" value="2006">2006</button>
</div>

<div style="height: 20px"></div>

<div id="graphArea">
<!-- 	<div>
		Country Name
	</div> -->

</div>