<div>
	<h2>GDP Heat Map</h2>
</div>

<div style="font-size: 20px">
	<div >
		<span>Year: <span id="yearText">2000</span></span>
	</div>
	<div>
		Country: <span id="countryText"></span>
	</div>
	<div>
		GDP: <span id='GDPText'></span>(million $)
	</div>


</div>

<div style="height: 20px"></div>	


<div class="slidecontainer">
 	<input type="range" min="1970" max="2016" value="2000" class="slider" id="myRange" style="width: 50%">
</div>
<div style="position: fixed;margin-left: 0%">
	<span style="position: fixed;margin-left: 24%;">1972</span><span style="position: fixed;margin-left: 48%;">1992</span><span style="position: fixed;margin-left: 74%;">2016</span>
</div>


<!-- <div>
	<button class="yearButton" value="2000">2000</button>
	<span style="width: 20px"></span>
	<button class="yearButton" value="2001">2001</button>
	<button class="yearButton" value="2002">2002</button>
	<button class="yearButton" value="2003">2003</button>
	<button class="yearButton" value="2004">2004</button>
	<button class="yearButton" value="2005">2005</button>
	<button class="yearButton" value="2006">2006</button>
</div> -->

<div style="height: 20px"></div>

<div id="graphArea">
<!-- 	<div>
		Country Name
	</div> -->

</div>