#buttondiv2 {
    position:relative;
    transition: .5s ease;
    top: -520px;
    left: -550px;
    width: 100px;
    height: 100px;
    display: inline-block;
}

#tooltip {
    position: fixed;
    text-align: center;
    text-decoration-color: black;
    font: 14px arial;		
    background: rgb(255, 244, 143);
    bottom: 600px;
    right: 20px;
    width: 150px;
    height: 150px;
    visibility: hidden;
}