<h2>Employment Distribution</h2>

<br/>
<br/>
<select id="Ecountries" class="btn btn-secondary dropdown-toggle">
	<option value="Nigeria" selected="selected">Nigeria</option>
	<option value="China">China</option>
	<option value="Japan">Japan</option>
	<option value="Bangladesh">Bangladesh</option>
	<option value="India">India</option>
	<option value="Pakistan">Pakistan</option>
	<option value="Indonesia">Indonesia</option>
	<option value="Mexico">Mexico</option>
	<option value="Brazil">Brazil</option>
	<option value="United States of America">United States of America</option>
</select>
<br/>
<br/>

<svg width="960" height="960" font-family="sans-serif" font-size="10"></svg>
