#buttondiv2 {
    position:relative;
    transition: .5s ease;
    top: -520px;
    left: -550px;
    width: 100px;
    height: 100px;
    display: inline-block;
}

#tooltip {
    text-align: center;
    text-decoration-color: black;
    font: 14px arial;		
    bottom: 20%;
    right: 81%;
    width: 200px;
    height: 200px;
    visibility: hidden;
}