<h2>
  Chart 1 - Dependency ratio and Age distribution.
</h2>
<br/>
<div class="legend4">
	<div class="legend4"></div>
</div>
<select id="countries">
	<option value="Nigeria" selected="selected">Nigeria</option>
	<option value="China">China</option>
	<option value="Japan">Japan</option>
</select>
<svg id="chart1" width="1100" height="650"></svg>
<div id="buttondiv">
	<button id="showme" type="button" class="btn btn-outline-success">Lines</button>
	&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<button id="hideme" type="button" class="btn btn-outline-danger">Points</button>
</div>
